node_modules
.env
log/*.log
app/assets/img/profile/*
!app/assets/img/profile/.gitignore
app/assets/img/framesets/*
!app/assets/img/framesets/.gitignore
app/assets/img/groupsets/*
!app/assets/img/groupsets/.gitignore
app/assets/img/wheels/*
!app/assets/img/wheels/.gitignore
app/assets/img/tyres/*
!app/assets/img/tyres/.gitignore
app/assets/img/bars/*
!app/assets/img/bars/.gitignore
app/assets/img/seatpots/*
!app/assets/img/seatpots/.gitignore
app/assets/img/saddles/*
!app/assets/img/saddles/.gitignore
.vercel
