<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="node-master">
    <meta name="author" content="rugo">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.webp" sizes="any">
    <title>{{title}}</title>

    {{#css}}
    <link href="{{{.}}}" type="text/css" rel="stylesheet">
    {{/css}}

  </head>
  <body class="{{bodyClass}}" style="height: 100vh; padding-top: 76px;">

    {{#nav}}
    <nav class="navbar fixed-top navbar-expand-lg bg-light py-3">
      <div class="container">
        <a class="navbar-brand" href="/">Velo Mallorca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://velomallorca.net/">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{/nav}}

    <!-- mt-5 pt-3 -->
    <main class="{{mainClass}}" style="height: 100%;">     